body {
  margin:0;
}
header {
  animation: fadein .6s ease-out;
  min-height:100vh;
  position:relative;
  overflow:hidden;
}

/********************* HEADER */
.header__container {
  position:absolute;
  top:50%;
  left:50%;

  transform:translate(-50%, -50%);
  text-align:center;
}
.header__container h1 {
  font-family:'Open Sans Condensed', sans-serif;
  font-weight:300;
  text-transform:uppercase;
  font-size:4em;
  margin-bottom:0;

  animation: slideToRight .4s ease-out;
}
.header__container h2 {
  font-family:'Titillium Web', sans-serif;
  margin-top:0;
  font-weight:300;
  text-transform:uppercase;
  font-size:1.57em;

  animation: slideToLeft .4s ease-out;
}
.header__link {
  display:block;
  text-decoration:none;
  color:#222;
  border: 2px solid #151515;
  width:200px;
  padding:20px 10px;
  margin:0 auto;
  margin-top:100px;
  text-transform:uppercase;
  font-family:'Source Sans Pro', sans-serif;
  overflow:hidden;
  position:relative;

  animation: slideUp .4s ease-out;
  transition:all .2s ease-in-out;
}
.header__link:before,
.header__link:after {
  display:block;
  content:"";
  width:61%;
  height:110%;
  position:absolute;
  top:0;
  left:-10%;
  background:#151515;
  z-index:-10;

  transform:translateY(-100%) skew(-20deg);
  transition: all .15s ease-in-out;
}
.header__link:after {
  right:-10%;
  left:auto;
  transform:translateY(100%) skew(-20deg);
}
.header__link:hover:before,
.header__link:hover:after {
  transform:translateY(0) skew(-20deg);
}
.header__link:hover {
  color:white;
}
.header__logo {
  display:block;
  margin:0 auto;
  max-width:130px;
}





/********************* ANIMATIONS */
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@keyframes slideToRight {
  from {
    transform:translateX(-100%);
  }
  to {
    transform:translateX(0);
  }
}
 @keyframes slideToLeft {
   from {
     transform:translateX(100%);
   }
   to {
     transform:translateX(0);
   }
 }
 @keyframes slideUp {
   from {
     transform:translateY(200%);
   }
   to {
     transform:translateY(0);
   }
 }
